[submodule "external/LGMCTS-D"]
	path = external/LGMCTS-D
	url = git@github.com:changhaonan/LGMCTS-D.git
[submodule "external/IsaacGymEnvs"]
	path = external/IsaacGymEnvs
	url = https://github.com/NVIDIA-Omniverse/IsaacGymEnvs.git
[submodule "external/GroundingDINO"]
	path = external/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "external/co-tracker"]
	path = external/co-tracker
	url = https://github.com/facebookresearch/co-tracker.git
