*.egg-info

test_data/*
models/*

vil2/test_data/*

checkpoint/*

*.pyc

*.TXT

*.npz

.vscode/

*.zip

*.mp4
*.ckpt

vil2/scripts/data_augmentation.py
vil2/scripts/relative_transform.py 
dummy.py
dummy-hist2.py 
analyze.ipynb 


*.exr
vil2/data_gen/examples/*
run.sh
script_*
multimodal*

logfile